.calendar-header {
  height: 75px;
}

ion-text {
  font-size: 22px;
  font-weight: 500;
}

ion-icon {
  font-size: 30px;
}

ion-label > h2 {
  font-size: 20px;
}

ion-row > .date {
  display: flex;
  flex-direction: column;
  align-items: center;

  strong {
    font-size: 20px;
  }

  small {
    font-size: 15px;
  }
}

.duties {
  padding-left: 20px;
}

ion-loading.task-loading {
  --spinner-color: var(--ion-color-dark);
}

.week-text-container {
  display: flex;
  flex-direction: column;
  height: 75px;
  justify-content: center;
  align-items: center;

  & > p {
    margin: 0;
  }
}
