.primary {
  border: solid 2px var(--ion-color-warning-tint);
}

ion-card-title {
  font-size: 18px;
  width: 75%;
}

ion-card-subtitle {
  margin: 0;
}

ion-card-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.time-remaining {
  gap: 3px;
}

.time-details {
  justify-content: space-between;
}

ion-progress-bar {
  margin-top: 5px;
  border-radius: 20px;
  height: 5px;
}
