.container {
  position: relative;
  width: 85%;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

.time-text {
  font-weight: bold;
  font-size: xx-large;
}

.inner-circle {
  stroke: var(--ion-color-primary);
}

.progress-circle {
  stroke: var(--ion-color-primary-shade);
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: all 0.5s linear;
}
